
<div class="container travel-map">
  <div class="map-container">
    <div class="map">
    </div>
  </div>
</div>

{{!-- <svg>
<path fill="#000000" stroke="#ffffff" d="M256,64C190.1,64,136.7,117.7,136.7,184C136.7,298.6,256,448,256,448S375.3,298.6,375.3,184C375.3,117.7,321.9,64,256,64ZM256,242.2C224.8,242.2,199.6,216.79999999999998,199.6,185.5C199.6,154.2,224.9,128.7,256,128.7C287.2,128.7,312.4,154.1,312.4,185.5C312.4,216.8,287.2,242.2,256,242.2Z" stroke-width="0" stroke-linejoin="round" opacity="1" transform="matrix(0.0251,0,0,0.026,477.2233,91.4977)" class="test" data-id="test" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); stroke-linejoin: round; opacity: 1; fill: green; transform: scale(1); transform-origin: 0px 0px 0px; top: 0px; left: 0px;"></path>
  </svg>
  <div class="foo">
  </div> --}}
