nav {
  font-family: montserrat;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: montserrat;
  }
}

div, p {
  font-family: cardo;
}
