// .travel-map {
//   background-color: yellow;
// }

.map {
  background-color:#cddee0;
}

   /* CSS for the tooltip displayed on mousehover on elements */
.mapTooltip {
  position : fixed;
  background-color : #474c4b;
  moz-opacity:0.70;
  opacity: 0.70;
  filter:alpha(opacity=70);
  border-radius:10px;
  padding : 10px;
  z-index: 1000;
  max-width: 200px;
  display:none;
  color:#fff;
}

    // .container {
    //     max-width: 800px;
    //     margin:auto;
    // }

body {
  font-family:Helvetica,Arial,sans-serif;
}

h1 {
  color:#5d5d5d;
  font-size:30px;
}

// svg {
//   .test{


//     &:hover {
//       // transition: all 200ms ease-in;
//       transform: scale(1.5)
//     }
//   }
// }

.foo {
  width: 100px;
  height: 100px;
  background-color: green;
  transition: all 200ms ease-in;

  &:hover {
    transform: scale(1.5)
  }
}
.zoomIn, .zoomOut {
  background-color:#fff;
  border:1px solid #ccc;
  color:#000;
  width:15px;
  height:15px;
  line-height: 15px;
  text-align:center;
  border-radius:3px;
  cursor:pointer;
  position:absolute;
  top : 10px;
  font-weight:bold;
  left : 10px;

  -webkit-user-select: none; // For Webkit
  -khtml-user-select: none;
  -moz-user-select: none; // For Mozilla
  -o-user-select: none;
  user-select: none; // Default
}

.zoomOut {
  top:30px;
}
