.map {
  background-color: #cddee0; }

.zoomIn, .zoomOut {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  font-weight: bold;
  left: 10px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }

.zoomOut {
  top: 30px; }
