        {{!-- <img class="image" src="assets/photos/lima/1.jpg"> --}}
<div class="fullpage">
    <div class="section">
      <div class="image-wrapper">
        <img class="image" src="assets/photos/lima/1.jpg">
      </div>
    </div>
    <div class="section">
      <div class="image-wrapper">
        <img class="image" src="assets/photos/lima/2.jpg">
      </div>
    </div>
{{!--         <div class="section">
      <div class="image-wrapper">
        <img class="image" src="assets/photos/lima/3.jpg">
      </div>
    </div> --}}
{{!--         <div class="section">
      <div class="image-wrapper">
        <img class="image" src="assets/photos/lima/1.jpg">
      </div>
    </div>
        <div class="section">
      <div class="image-wrapper">
        <img class="image" src="assets/photos/lima/1.jpg">
      </div>
    </div> --}}
</div>
